@import "~Styles/_colors.sass"


.category-select
  margin-top: 20px

.table-head
  margin-top: 20px
  border-top: 1px solid $lightGrey
  border-bottom: 1px solid $lightGrey

.list-item
  position: relative
  border-bottom: 1px solid $lightGrey

  .title
    display: block
    padding: 10px 0 10px 50px
    &, &:hover
      color: $darkGrey
    &:focus, &:active
      text-decoration: none
      color: $darkGrey

  a
    display: inline-block
    margin-right: 10px
    line-height: 30px
    color: $darkGrey


.item-cell, .link-cell
  border-left: 1px solid $lightGrey
.link-cell
  border-right: 1px solid $lightGrey