@import "~node_modules/sass-burger/_burger"
@import "~Styles/_colors"


header
  background-color: $lightGrey
  
  .logo
    margin: 0
    padding-top: 10px
    padding-bottom: 10px
    background-color: $lightGrey
    a
      &, &:hover, &:active, &:focus
        color: $darkGrey
        text-decoration: none

  .logo, .hamburger
    position: relative
    z-index: 3
  
  ul
    list-style: none
    text-align: right
    margin-bottom: 0

// mobile only
@media (max-width: 768px)
  header
    .hamburger
      position: absolute
      top: 0
      right: 0
      padding: 21px 20px
      .icon
        +burger(20px, 2px, 3px, $darkGrey)

    // menu
    .main-menu
      position: absolute
      width: 100%
      top: 53px
      left: 0
      z-index: 2
      transform: translate(0, -180%)
      transition: transform 0.3s ease-in
      clear: both
      padding: 1px 20px 20px 20px
      background-color: $lightGrey

      a
        display: block
        font-size: 16px
        line-height: 32px
        padding-bottom: 2px
        transition: all 0.2s
        border-bottom: 2px solid transparent

        &, &:hover, &:active, &:focus
          color: $darkGrey
          text-decoration: none

    // cover content while menu is opened
    .content-cover
      width: 100%
      height: 100vh
      position: absolute
      top: 0
      left: 0
      opacity: 0
      background-color: rgba(0,0,0,0.5)
      transform: translate3d(0,-100vh,0)
      transition: transform 0s linear 0.6s, opacity 0.6s ease-in-out
    

// opened menu
.menu-opened
  .main-menu
    transform: translate(0, 0)
  .hamburger .icon
    +burger-to-cross
  .content-cover
    transform: translate3d(0,0,0)
    opacity: 1
    transition: transform 0s linear 0s, opacity 0.6s ease-in-out


// tablet and up styles
@import "_header-tablet"